body{
    font-weight: normal;
}

body a {
	text-decoration: none;
    color: #808080;
}
body a:visited {
	text-decoration: none;
    color: #808080;
}

body h3 {
	font-size: 4rem;
	color: darkred;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

body p {
	font-size: 2.25rem;
    color: gray;
    font-weight: normal;
}

body h4 {
	font-size: 3rem;
	color: darkred;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

.ativo{
	font-weight: bold;
}







